// Variables
$light-blue: #E9F1FA;
$bright-blue: #00ABE4;
$white: #F5F5F5;
$dark: #040D12;
$light-green: #5C8374;
$danger: #ff0000;
$green: #00FF00; // Custom green color
$yellow: #FFFF00; // Custom yellow color

// Bootstrap Overrides
$theme-colors: (
    "primary": $bright-blue,
    "secondary": $light-green,
    "info": $bright-blue,
    "light": $white,
    "dark": $dark,
    "danger": $danger,
    "green": $green,
    "yellow": $yellow 
);

$theme-colors-inverse: (
    "primary": $bright-blue,
    "secondary": $light-green,
    "info": $bright-blue,
    "light": $dark,
    "dark": $white,
    "danger": $danger,
    "green": $green,
    "yellow": $yellow
);

// Include Bootstrap
@import "~bootstrap/scss/bootstrap";

.text-green {
    color: $green;
}

.text-yellow {
    color: $yellow;
}
.text-bg-yellow{
    background-color: $yellow;
}
.text-bg-red {
    background-color: $danger;
}
.text-bg-green {
    background-color: $green;
}
.btn-green{
    background-color: $green;
}